@import "tailwindcss";

/* Tambahan custom kamu */
:root {
  --background: #333446;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}