@import "tailwindcss";

/* Tambahan custom kamu */
:root {
  --background: #333446;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}